<link rel="stylesheet" href="/css/noticiasGeneral.css">
<article class="noticia">

    <figcaption class="categoria"><%= recuperarDatos.categoria %></figcaption> <!-- Pie de foto con la categoría -->
    <!-- Titular -->
    <h1 class="titular"><%= recuperarDatos.titular %></h1>

    <!-- Subtítulo o Bajada -->
    <p class="subtitulo"><%= recuperarDatos.subtitulo %></p>

    <!-- Entrada o Lead -->
    <p class="entrada"><%= recuperarDatos.entrada %></p>

    
    <!-- Imagen Principal -->
    <% if (recuperarDatos.imagen) { %>
        <figure class="imagen-principal">
            <div class="info-adicional">
                <p><strong>Escrito por :</strong> <%= recuperarDatos.autor %> <%=new Date(recuperarDatos.fechaPublicacion).toLocaleString('es-AR'); %> </p>
               <!-- <p><strong>Categoría:</strong> <%= recuperarDatos.categoria %></p>-->
            </div>
            <img src="<%= recuperarDatos.imagen %>" alt="Imagen relacionada con la noticia" loading="lazy">
            
        </figure>
    <% } %>
   

    <!-- Cuerpo de la noticia -->
    <section class="cuerpo">
        <p><%= recuperarDatos.cuerpo %></p>
    </section>

    <!-- Cierre -->
   

    <!-- Información adicional -->
    
</article>


